.App {
  text-align: center;
  background-color: aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo {
  color: #EA6A47
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.type-error {
  color:red;
  font-size: inherit;
}
.card-body {
  height: 6rem;
}
.testimony-container {
  margin: 1rem;
}
.add-new {
  border: 4px solid #cce6ff;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px !important;
  background-color: aliceblue;
  padding: 3rem;
}

nav .brand-logo.left{
  left: 2rem;
  padding: 0;
}